body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style: none;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
}

.logo span {
    color: #2e2f42;
}

.nav-links li a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #404bbf;
}

.nav-links li a:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}

.contact li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact li a:hover {
    color: #404bbf;
}

.contact li a:focus {
    color: #404bbf;
}

.contact-a:hover {
    color: #404bbf;
}

.contact-a:hover {
    color: #404bbf
}

.section-business {
    background-color: #2e2f42;
}

.business-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.business-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.business-button:active,
.business-button:hover,
.business-button:focus {
    background-color: #404bbf;
}

.strategy-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member {
    background-color: #FFFFFF;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-description {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.logo .footer-span {
    color: #f4f4fd;
}

.header-span {
    color: #2e2f42;
}

.footer-span {
    color: #f4f4fd;
}